In [29]:
#imports
import pandas as pd
import numpy as np

In [7]:
# Reading the data
df = pd.read_csv('./rawdata.csv')
df.head()

,Country,Year,pop,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,...,ren_power_ej,ren_power_twh,ren_power_twh_net,renewables_ej,solar_ej,solar_twh,solar_twh_net,wind_ej,wind_twh,wind_twh_net
0,Algeria,1965,12.381256,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Algeria,1966,12.613389,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,1967,12.897116,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,1968,13.190975,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Algeria,1969,13.491016,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# function to create the appropriate view for a given year

# axes to retain in the parallel coordinates plot
toretain = {
    'id' : 'id',
    'name' : 'name',
    'group' : 'group',
    'pop' : 'Population',
    'co2_combust_per_ej' : 'CO2 Combustion per EJ', 
    'coalcons_ej' : 'Coal Consumption in EJ',
    'coalprod_ej' : 'Coal Production in EJ',
    'gascons_ej' : 'Gas Consumption in EJ',
    'gasprod_ej' : 'Gas Production in EJ',
    'hydro_ej' : 'HydEl Production in EJ',
    'nuclear_ej' : 'Nuclear Power Production in EJ', 
    'oilcons_mt' : 'Oil Consumption in MTonnes', 
    'oilprod_mt' : 'Oil Production in MTonnes', 
    'solar_ej' : 'Solar Power Production in EJ', 
    'wind_ej' : 'Wind Power Production in EJ'
}

def createView(df, year):
    data = df[df["Year"] == year].copy()
    data["id"] = range(len(data))
    data['name'] = data["Country"]
    data['group'] = data["Region"]
    print(toretain)
    todrop = []
    for col in data.columns:
        if col not in toretain : 
            todrop.append(col)
    data = data.drop(columns = todrop)
    data = data.fillna(0)
    data.rename(columns = toretain, inplace = True)
    data = data[data['group'] != 0]
    return data

data = createView(df, 2021)
data.to_csv('./public/2021.csv', index=False)

{'id': 'id', 'name': 'name', 'group': 'group', 'pop': 'Population', 'co2_combust_per_ej': 'CO2 Combustion per EJ', 'coalcons_ej': 'Coal Consumption in EJ', 'coalprod_ej': 'Coal Production in EJ', 'gascons_ej': 'Gas Consumption in EJ', 'gasprod_ej': 'Gas Production in EJ', 'hydro_ej': 'HydEl Production in EJ', 'nuclear_ej': 'Nuclear Power Production in EJ', 'oilcons_mt': 'Oil Consumption in MTonnes', 'oilprod_mt': 'Oil Production in MTonnes', 'solar_ej': 'Solar Power Production in EJ', 'wind_ej': 'Wind Power Production in EJ'}

In [51]:
# Creating a set with all the different possible groups
st = set()
for group in data["group"]:
    st.add(group)
st

{'Africa',
 'Asia Pacific',
 'CIS',
 'Europe',
 'Middle East',
 'North America',
 'S. & Cent. America'}

In [52]:
data.head()

,Population,CO2 Combustion per EJ,Coal Consumption in EJ,Coal Production in EJ,Gas Consumption in EJ,Gas Production in EJ,HydEl Production in EJ,Nuclear Power Production in EJ,Oil Consumption in MTonnes,Oil Production in MTonnes,Solar Power Production in EJ,Wind Power Production in EJ,id,name,group
55,43.451666,56.802892,0.005485,0.000000,1.560601,2.931286,0.000469,0.000000,17.469600,57.625000,0.006476,0.000073,0,Algeria,Africa
113,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,64.571572,0.000000,0.000000,1,Angola,Africa
171,45.036032,51.844925,0.036055,0.000000,1.581525,1.378531,0.223789,0.090826,24.370512,27.657269,0.012710,0.088974,2,Argentina,S. & Cent. America
229,25.670051,65.992144,1.684959,12.140951,1.529744,5.251103,0.136345,0.000000,43.033373,19.111839,0.225424,0.213740,3,Australia,Asia Pacific
287,8.907777,38.952821,0.104515,0.000000,0.306981,0.000000,0.397076,0.000000,11.095988,0.000000,0.019315,0.064211,4,Austria,Europe